<body style="width:1351px; height:1600px; background-color:#b3e6ff;">
  <h1>
    Special thanks to...
    </h1>
    <p style="background-color:#ffffff; padding: 30px;">
      My dad for being an video creater and editor. For being a good technician and answering my questions as best as you can. 
      </p>
      <p style="border: 10px solid #ffffff; border-style: dotted; padding: 40px;">
        My mom for being a photographer and keeping me on task.
        </p>
        <p style="border: 10px solid #ffffff; border-style: solid; padding: 40px;">
          My family for being supportive all the way.
          </p>
          <p style="background-color:#ffffff; padding: 40px;">
            HCC for teaching how to create a website.
            </p>
  </body>