h1 {
  font-family: "Bungee Outline", cursive;
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
}
.Hobbies {
  font-family: "Poiret One", cursive;
  margin: 50px;
  background-color: #ffffff;
  padding: 20px;
  font-size: 35px;
}
p {
  width: 1000px;
  height: 200px;
  margin-top: 100px;
  font-size: 35px;
  margin-left: 10%;
  font-family: "Poiret One", cursive;
}
