<body style="width:1351px; height:1600px; background-color:#e6ccff;">
  <h1>Activities</h1>
  <p id="something">Here are some Activities I enjoy doing.</p>
  <p style=" margin-left: 35%; margin-right: 20%">
    <img
      src="https://stackblitz.com/files/my-page-fiona-wang/github/folgerwang/my-page-fiona-wang/master/christmas snowman.png"
      alt="christmas snowman"
    />
  </p>
  <p class="Activities">
    Swimming<br />
    I swim for PASA (Palo Alto Stanford Aquatics) currently. I got selected once
    to swim for Zone 1 North in a Zone All-Star meet 1 year ago, at age 8. I
    started swimming at age 3 1/2, started competetive swimming at age 7 with
    TSM ( Team Santa Monica). I moved to PASA 2 years ago.
  </p>
  <p style=" margin-left: 35%; margin-right: 20%">
    <img
      src="https://stackblitz.com/files/my-page-fiona-wang/github/folgerwang/my-page-fiona-wang/master/christmas snowman.png"
      alt="christmas snowman"
    />
  </p>
  <p class="Activities">
    Violin <br />
    violin is my main instrument. I know how to play the piano, but not very
    good at it. I started playing the keyboard as my “study-music” instrument.
    Then I chose the violin as my main instrument. I have played the violin for
    5 years, I am commited to play more. I learned the piano along the way. My
    favorite instrument is still the violin though!
  </p>
</body>
