<body class="background" style="width:1351px; height:1200px; background-color:#e6ccff;">
	<h1>Fiona Wang</h1>
	<p style=" margin-left: 25%; margin-right: 25%; margin-top: 15%; margin-bottom: 15%; width:600px; height:600px; background-color:#fee7f8; font-size:35px; padding:40px"
		class="background"> Hi, my name is Fiona Wang. I am a violinist and a swimmer. For fun, I draw anime and paint traditional chinese painting. I also can speak fluent chinese and learning french. I am a 10 year old, moving on to 5th grade. I was born in L.A. now living in Palo Alto, C.A.</p>
	<img src="" alt="">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
	</script>
</body>