<body class="background" style=" width: 100%; height:1800px; background-color:#e6ccff;">
	<h1>Fiona Wang</h1>

	<!--p
    style=" margin-left: 20%; margin-right: 20%"
    class="background"
  >
  <img
    src="https://stackblitz.com/files/my-page-fiona-wang/github/folgerwang/my-page-fiona-wang/master/christmas snowman.png"
    alt="christmas snowman"
  />
   
  </p-->
	<iframe width="640" height="395" src="https://www.youtube.com/embed/D9Y2N8DL1E8" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
		style="border: 10px solid #ffffff; border-style: dotted; padding: 20px; margin-left: 40%; margin-bottom: 30px;"></iframe>
	<p style="width:600px; height:500px; background-color:#ffffff; font-size:35px; margin-left:10%;" class="background">

		Hi, my name is Fiona Wang. I am a violinist and a swimmer. For fun, I draw
		anime and paint traditional chinese painting. I also can speak fluent
		chinese and learning french. I am a 10 years old, moving on to 5th grade. I
		was born in L.A. now living in Palo Alto, C.A.
	</p>



	<p style="border: 5px solid #ffffff; font-size:35px; width:600px; height:600px; margin-top: 50px; margin-left:45%">
		<b>F</b> antastic musician ~\(≧▽≦)/~<br>
		<b>I</b> credibly inclusive \(￣︶￣*\))<br>
		<b>O</b> utstanding swimmer ヾ(^▽^*)))<br>
		<b>N</b> ice and kind to everyone (✿◕‿◕✿)<br>
		<b>A</b> lways has a smile on her face ヽ(✿ﾟ▽ﾟ)ノ<br>
                       -dubbed by my fellow second graders in Ms.McCandles's class at Juana Briones
      </p>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
		</script>
</body>