<body style="width:1351px; height:2000px; background-color:#ccffcc;">
	<h1>
		Hobbies
	</h1>

	<iframe width="640" height="395" src="https://www.youtube.com/embed/0TEjm0XPN8E" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
		style="border: 10px solid #ffffff; border-style: dotted; padding: 20px; margin-left: 40%; margin-bottom: 60px;"></iframe>

	<p class="Hobbies">
		Art<br>
      I always liked anime movies more than real-person-acted movies and so I started learning how to anime. Now, I draw anime whenever I can. I don’t only draw anime, I also paint traditional Chinese paintings, and sometimes just sketch. When I sketch, I sketch jewelry and fashion designs. I can get pretty creative.
      </p>
		<iframe width="640" height="395" src="https://www.youtube.com/embed/olsLlL4r4FA" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
			style="border: 10px solid #ffffff; padding: 20px; margin-left: 15%; margin-bottom: 30px;"></iframe>
		<p class="Hobbies">
			Languages <br>
        My mom and dad are both from China and so, I have been speaking fluent Chinese since I was born (not always fluent). I had started taking Chinese lessons to learn how to read and write. By now I can read and write a lot of Chinese books. My goal is to read and write fluently in Chinese. I also started learning french online. I my hope is that I can speak many different languages!
        </p>
</body>