<body style="width:1351px; height:1300px; background-color:#ccffcc;">
  <h1>
    Hobbies
    </h1>
    
      
    <p class="Hobbies">
      Art<br>
      I always liked anime movies more than real-person-acted movies and so I started learning how to anime. Now, I draw anime whenever I can. I don’t only draw anime, I also paint traditional Chinese paintings, and sometimes just sketch. When I sketch, I sketch jewelry and fashion designs. I can get pretty creative.
      </p>
      
      <p class="Hobbies">
        Languages <br>
        My mom and dad are both from China and so, I have been speaking fluent Chinese since I was born (not always fluent). I had started taking Chinese lessons to learn how to read and write. By now I can read and write a lot of Chinese books. My goal is to read and write fluently in Chinese. I also started learning french online. I my hope is that I can speak many different languages!
        </p>
  </body>
